
.sidebar {
    //left: 0;
    height: 93vh;
    padding-left: 2rem !important;
    background: lighten($sub-gray, $amount: 35%);
}
.info-bar {
    height: 100%;
    border: .2rem solid #000;
    background: gray;
}
// .grid-base {
//     height: 95% !important;
// }