
.sidebar {
    //left: 0;
    height: 93vh;
    padding-left: 2rem !important;
    background: lighten($sub-gray, $amount: 35%);
}
.button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sidebar__button {
    background: #eeeded !important;
}
.sidebar__button:hover {
    background: darken($color: #eeeded, $amount: 15%) !important;
}



