

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    height: 100% !important;
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    font-size: $xl-size;
    font-weight: 700;
}
h2 {
    font-size: $l-size !important;
}
h3 {
    font-size: $m-size !important;
}
h4 {
    font-size: $s-size;
}

Button {
    padding: $s-size $m-size;
    border-radius: 2rem;
    transition: 400ms;
    border: none;
    outline: none;
}
Button:hover {
    cursor: pointer;
    outline: none;
}
Button:active {
    outline: none;
}

// html elements here

