// COLORS

// grays
$sun-gray: #DAD5C1; 
$warm-gray: #C6C1A8;
$sub-gray: #7C7063;
$mid-gray: #626262;
$snow-gray: #D5D5D5;
$burnt-gray: #595043;
$heavy-gray: #574C3C;

// earth
$sand: #D0C09D;
$light-clay: #AA7047;
$red-clay: #874317;
$mud: #694629;

// saturations
$leaf: #7E996F;
$grass: #7DA182;
$sky: #45827A;
$dark-leaf: #3D542F;
$dark-grass: #45543D;
$blue-leaf: #28726E;

// absolutes
$off-black: #100100;
$off-white: #efeefe; 


// http://www.varian.net/dreamview/dreamcolor/earth.html